mixin mainMenu(theme)
  if theme == 'dark'
    - var menuClass = 'main-menu--theme-dark';
  
  ul.main-menu(class=menuClass)
    li.main-menu__item
      a.main-menu__link(href="/") Главная
    li.main-menu__item
      a.main-menu__link(href="/pages/ui-kit.html") UI-KIT
