mixin pagination()
  .pagination
    .pagination__list
      button(type="button").pagination__list-item.is-active 1
      button(type="button").pagination__list-item 2
      button(type="button").pagination__list-item 3
      button(type="button").pagination__list-item 4
      button(type="button").pagination__list-item 5
    button(type="button").pagination__control.pagination__control--left.is-disable
    button(type="button").pagination__control.pagination__control--right