extends ../templates/default.pug

block head
  - var pageTitle = 'UI-Kit';
  - var pageDescription = 'UI-Kit';

block content
  body.page
    .page__inner.content-container
      header.page__main-nav
        +mainNav()
      main.page__content
        h1 UI-Kit

        .ui-section
          h2.ui-section__title Star Rating
          .ui-section__component
            p.ui-section__line
              +rating('cat1')
            p.ui-section__line
              +rating('cat2')
          .ui-section__description
            p Блок: 'rating'
            p Пример вызова: +rating('cat1')
            p Принимает строку с уникальным id

        .ui-section
          h2.ui-section__title Checkbox
          .ui-section__component
            p.ui-section__line
              label.check
                input.check__input(type="checkbox")
                span.check__box 
                span.check__label Checkbox
            
            p.ui-section__line
              label.check
                input.check__input(type="checkbox" checked)
                span.check__box 
                span.check__label Checked
            
            p.ui-section__line
              label.check
                input.check__input(type="checkbox" disabled)
                span.check__box 
                span.check__label Disabled
            
            p.ui-section__line
              label.check
                input.check__input(type="checkbox" checked disabled)
                span.check__box 
                span.check__label Checked Disabled
          
          .ui-section__description
            p Блок: 'check'


      footer.page__footer
        include ../../blocks/footer/footer.pug
