extends ../templates/default.pug

block head
  - var pageTitle = 'UI-Kit';
  - var pageDescription = 'UI-Kit';

block content
  body.page
    .page__inner.content-container
      header.page__main-nav
        +mainNav()
      main.page__content.ui-kit
        h1 UI-Kit
        //- Star Rating
        .ui-section
          h2.ui-section__title Star Rating
          .ui-section__component
            p.ui-section__line
              +rating('cat1')
            p.ui-section__line
              +rating('cat2')
          .ui-section__description
            p Блок: 'rating'
            p Mixin Pug: +rating('cat1')
            p Принимает строку с уникальным id
        //- Checkbox
        .ui-section
          h2.ui-section__title Custom checkbox
          .ui-section__component
            p.ui-section__line
              label.check
                input.check__input(type="checkbox")
                span.check__box 
                span.check__label Checkbox
            
            p.ui-section__line
              label.check
                input.check__input(type="checkbox" checked)
                span.check__box 
                span.check__label Checked
            
            p.ui-section__line
              label.check
                input.check__input(type="checkbox" disabled)
                span.check__box 
                span.check__label Disabled
            
            p.ui-section__line
              label.check
                input.check__input(type="checkbox" checked disabled)
                span.check__box 
                span.check__label Checked Disabled
          
          .ui-section__description
            p Блок: 'check'
        //- Accordion
        .ui-section
          h2.ui-section__title Accordion
          .ui-section__component
            p.ui-section__line
              .accordion
                h2.accordion__header Accordion 1
                .accordion__body
                  .accordion__content
                   p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            p.ui-section__line
              .accordion
                h2.accordion__header Accordion 2
                .accordion__body
                  .accordion__content
                    p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic..
          .ui-section__description
            p Блок: 'accordion'
        //- Buttons
        .ui-section
          h2.ui-section__title Buttons
          .ui-section__component
            p.ui-section__line
              button.button.button--inline(type="button") Ghost
            p.ui-section__line 
              button.button.button--inline.button--primary(type="button") Primary
            p.ui-section__line 
              button.button.button--inline.button--secondary(type="button") Secondary
            p.ui-section__line
              button.button(type="button") Ghost
            p.ui-section__line 
              button.button.button--primary(type="button") Primary
            p.ui-section__line 
              button.button.button--secondary(type="button") Secondary
          .ui-section__description
            p Блок: 'button'
            p Модификаторы: '--inline', '--primary', '--secondary' 


      footer.page__footer
        include ../../blocks/footer/footer.pug
