extends ../templates/default.pug

block head
  - var pageTitle = 'UI-Kit';
  - var pageDescription = 'UI-Kit';

block content
  body.page
    .page__inner
      header.page__main-nav
        +mainNav()
      main.page__content
        .section-main.content-container
          h1 UI-Kit
          include ../../blocks/ui-kit/ui-kit.pug
    
    script(src=bundleJS)