extends ../templates/default.pug

block head
  - var pageTitle = 'UI-Kit';
  - var pageDescription = 'UI-Kit';

block content
  body.page
    .page__inner.content-container
      header.page__main-nav
        +mainNav()
      main.page__content
        h1 UI-Kit
        include ../../blocks/ui-kit/ui-kit.pug
      footer.page__footer
        include ../../blocks/footer/footer.pug
