.catalog {
  $break-point: $tablet;
  
  &__header {
    position: relative;
    padding-right: 100px;
  }
  
  &__view-switcher {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;

    @include media($break-point) {
      display: block;
    }
  }
  
  &__main {
    @include media($break-point) {
      display: flex;
    }
  }
  
  &__sidebar {
    margin-bottom: $grid-gutter-default;
    
    @include media($break-point) {
      flex-basis: 25%;
      margin-right: $grid-gutter-default;
      margin-bottom: 0;
    }
  }

  &__sidebar-top {
    position: relative;
    top: 1px;
    margin-bottom: 15px;
  }
  
  &__list {
    flex-grow: 1;
    width: 100%; // For IE11
  }
}
