.catalog {
  $break-point: $tablet;
  
  &__header {
    // 
  }
  
  &__main {
    @include media($break-point) {
      display: flex;
    }
  }
  
  &__sidebar {
    @include media($break-point) {
      margin-right: $grid-gutter-default;
      flex-basis: 25%;
    }
  }

  &__sidebar-top {
    margin-bottom: 15px;
  }
  
  &__list {
    flex-grow: 1;
  }
}