.button {
  $primary-bg-color: $yellow;
  $primary-text-color: $text-color-gray-dark;
  
  $secondary-bg-color: $gray-light;
  $secondary-text-color: $gray-dark;
  
  $ghost-border-color: $gray-light;
  $ghost-text-color: $text-color-gray;

  $border-radius: $border-radius-default;

  display:  inline-block;
  width: 100%;
  vertical-align: top;
  padding: 10px 24px;

  @include setFontFluid(12px, 14px);
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.005em;

  color: $ghost-text-color;
  background: transparent;
  border: 2px solid $ghost-border-color;

  cursor: pointer;
  user-select: none;
  transition: opacity $transition-default;

  &:hover {
    opacity: $opacity-hover-default;
  }

  &:active {
    opacity: $opacity-active-default;
  }

  &--inline {
    width: auto;
  }

  &--round {
    border-radius: $border-radius;
  }

  &--primary {
    color: $primary-text-color;
    background: $primary-bg-color;
    border: none;
  }

  &--secondary {
    color: $secondary-text-color;
    background: $secondary-bg-color;
    border: none;
  }
}
