// ------------------------------------------------------
// COMMON
$page-width: 1440px;
$page-margins-x: 161px;
$content-padding-x: 15px;
$content-max-width: $page-width - ($page-margins-x * 2);
$grid-gutter-default: 3.8%;

// ------------------------------------------------------
// Z-INDEX
$main-menu_z-index: 8000;
$main-menu-switcher_z-index: 9000;

// ------------------------------------------------------
// ANIMATION
$opacity-hover-default: 0.6;
$opacity-active-default: 1;
$transition-default: 0.2s;

// ------------------------------------------------------
// COLORS
$white: #FFFFFF;
$black: #000000;
$red: #CC0000;
$orange: #FF7C06;
$yellow: #ffea00;
$green: #00da87;
$blue: #0098ED;
$brown: #964B00;
$gray-light: #e9e9e9;
$gray: #999999;
$gray-dark: #6b6b6b;


// state
$color-danger:    $red; // цвет ошибки, опасного действия
$color-success:   $green; // цвет подтверждения, удачного завершения операции
$color-warning:   $orange; // цвет информационного сообщения

// text
$text-color-black: $black;
$text-color-white: $white;
$text-color-gray: $gray;
$text-color-gray-dark: $gray-dark;
$text-color-green: $green;
$text-color-blue: $blue;
$text-color-brown: $brown;

// other
$shdow-default: 30px 30px 0px rgba(0, 0, 0, 0.05);
$color-link-default: $blue;

// ------------------------------------------------------
// FONTS
$font-default: 'Montserrat';
$font-second: 'Montserrat';
$font-third: 'Montserrat';

// fonts-size
$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 18px;
$font-size-s: 21px;
$font-size-m: 24px;
$font-size-l: 28px;
$font-size-x: 32px;
$font-size-xl: 40px;
$font-size-xxl: 64px;
$font-size-xxxl: 72px;

// fonts-size-default
$font-size-default-min: 14px;
$font-size-default-max: 24px;

$headers-default-font-size-min: 32px;
$headers-default-font-size-max: 72px;

$input-font-size: $font-size-xxs;
$placeholder-font-size: $font-size-xxxs;

// LINE-HEIGHT
$default-line-height: 1.2;
$headers-default-line-height: 1.4;

// ------------------------------------------------------
// MEDIA QUERIES
$phone:      320px;
$smartphone: 400px;
$tablet:     768px;
$laptop:     1024px;
$desktop:    1280px;
$tv:         1440px;

$mobile-menu: 970px;


