extends templates/default.pug

block head
  - var path = '';
  - var pageTitle = 'Главная страница';
  - var pageDescription = 'Описание главной страницы';

block content
  body.page
    .page__inner.content-container
      header.page__main-nav
        +mainNav()
      main.page__content
        section.catalog
          .catalog__header
            h1 Аккумуляторные батареи
          .catalog__main
            .catalog__sidebar
              .catalog__sidebar-top
                button.button.button--secondary.button--round.button--reset(type="button") Сбросить всё
              include ../blocks/filters/filters.pug
            .catalog__list
              include ../blocks/catalog-list/catalog-list.pug
      footer.page__footer
        include ../blocks/footer/footer.pug
