extends templates/default.pug

block head
  - var path = '';
  - var pageTitle = 'Главная страница';
  - var pageDescription = 'Описание главной страницы';

block content
  body.page
    .page__inner
      header.page__main-nav
        +mainNav()
      main.page__content
        section.section-main.content-container.catalog
          .catalog__header
            h1 Аккумуляторные батареи
            .catalog__view-switcher.js-catalog-view-switcher
              include ../blocks/view-switcher/view-switcher.pug
          .catalog__main
            form.catalog__sidebar
              button.catalog__sidebar-top.button.button--secondary.button--round.button--reset(type="reset") Сбросить всё
              include ../blocks/filters/filters.pug
            .catalog__list
              include ../blocks/catalog-list/catalog-list.pug
              .catalog__list-nav
                +pagination()
                select.form-select.form-input.form-input--inline
                  option 10
                  option 20
                  option 30
        section.section-main.section-main--bg-color.reviewed
          .content-container
            .section-main__title.section-main__title--center
               h2.reviewed__title Недавно вы смотрели
               +reviewedSlider()
    
    script(src=bundleJS)
