fieldset.view-switcher
  input.view-switcher__input(type="radio" name="view-switcher" id="vs-modules" value="modules" checked)
  label.view-switcher__btn.view-switcher__btn--modules(for="vs-modules" aria-label="Вид плиткой")
  
  input.view-switcher__input(type="radio" name="view-switcher" id="vs-list" value="list")
  label.view-switcher__btn.view-switcher__btn--list(for="vs-list" aria-label="Вид списком")
