.catalog-list
  .catalog-list__item
    +productCard({
      img: '/assets/img/akb/akb1.jpg',
      name: 'Аккумулятор Bosch S4 70Ah 630A 261x175x220',
      price: '5 460'
    })
  .catalog-list__item
    +productCard({
      img: '/assets/img/akb/akb2.jpg',
      name: 'Аккумулятор Bosch S4 60Ah 540A 242x175x190 (-+) №0092S40050',
      price: '6 416'
    })
  .catalog-list__item
    +productCard({
      img: '/assets/img/akb/akb3.jpg',
      name: 'Аккумулятор Exide Excell 45Ah 300A №EB457',
      price: '10 440'
    })
  .catalog-list__item
    +productCard({
      img: '/assets/img/akb/akb4.jpg',
      name: 'Аккумулятор Exide Excell 35Ah 240A 242x175x190 (-+) №0092S40050',
      price: '9 000'
    })
  .catalog-list__item
    +productCard({
      img: '/assets/img/akb/akb5.jpg',
      name: 'Аккумулятор Bolk 132Ah 870A 513x189x213 прям R+',
      price: '5 941'
    })
  .catalog-list__item
    +productCard({
      img: '/assets/img/akb/akb6.jpg',
      name: 'Аккумулятор Tudor Starter 55Ah 460A 242x175x190',
      price: '10 104'
    })