include ../../blocks/svg-icons/svg-icons.pug
include ../../blocks/logo/logo.pug
include ../../blocks/main-nav/main-nav.pug
include ../../blocks/rating/rating.pug
include ../../blocks/product-card/product-card.pug
include ../../blocks/check/check.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/reviewed-slider/reviewed-slider.pug

doctype html
html(lang='ru')
  include head.pug
  block content
  script(src="/scripts/bundle.min.js")
