
/* Check */

.check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -1em;
  width: 0.6em;
  height: 0.6em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4A90E2;
}

/* Checked */

.check__input:checked + .check__box {
  background-color: #4A90E2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='3' d='M1.079 4.999L5 9l5.837-7'/%3E%3C/svg%3E");
}

/* Focused */

// .check__input:focus + .check__box {
//   box-shadow:
//     0 0 0 0.1em #4A90E2,
//     0 0 0 0.2em #7ED321;
// }

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #dee0e4;
}
.check__input:disabled ~ .check__label {
  color: #dee0e4;
}

.check__input:checked:disabled + .check__box {
  background-color: #dee0e4;
}
.check__input:checked:disabled ~ .check__label {
  color: #dee0e4;
}