mixin productCard(data, mods)
  -
    var typeCardIsSimple = false;
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-card--' + modsList[i].trim();
        if(modsList[i].trim() == 'simple') {
          typeCardIsSimple = true;
          console.log(typeCardIsSimple);
        }
      }
    }

    var imgSrc = data.img;
    var name = data.name || 'Товар без названия';
    var price = '' + (data.price || 0);
    var price = price.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') + ' ₽';

    var id = Math.floor((Math.random() * Math.random()) * 1000000);
    

  article.product-card(class=allMods)
    .product-card__inner
      .product-card__photo
        img(src=imgSrc alt="")
      .product-card__content
        if !typeCardIsSimple
          .product-card__rating
            +rating(id)
        a.product-card__title(href="javascript:void(0)")=name
        .product-card__footer
          .product-card__row
            span.product-card__price=price
            button(type="button").product-card__buy-btn.button.button--primary.button--inline.button--round В корзину
          .product-card__row
            button.product-card__compare(type="button") Сравнить
            span.product-card__stock В наличии


